@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;900&family=Karla&display=swap');

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*/

* {
  margin: 0;
  font-family: "Karla";
  color: black;
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #00b33c;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  color:#00b33c;
}