@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;900&family=Karla&display=swap');

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*/

* {
  margin: 0;
  font-family: "Karla";
  color: black;
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #00b33c;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  color:#00b33c;
}

.home {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-size: cover;
  margin-bottom: 30px;
}

.home h1 {
  color: white;
}
.home h2 {
  color: white;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.button:hover,
.button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.login {
   height: 100vh;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-size: cover;
  margin-bottom: 30px;
}
.subLog {
  display: grid;
  justify-content: left;
}
.login h1 {
  color: white;
}

.signup {
  height: 100vh;
 background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0;
 background-size: cover;
 margin-bottom: 30px;
}
.subSignup {
 display: grid;
 justify-content: left;
}
.signup h1 {
 color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #307033;
}

.formTitle {
  color: white;
  display: flex;
}
.items {
  color: black;
}

.itemLists{

}

.searchItem {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #505050;
  padding: 20px;
  width: 325px;
  height: 30%;
  align-items: center;
}
.searchItem h4{
  margin-right:auto;
}
.searchItem h5{
  margin-right:auto;
  margin-left: auto;
}
.Results {
  
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.Search {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-size: cover;
  margin-bottom: 30px;
  
}
.Searchform h1{
  color: white;

}

